{% extends 'base.html.twig' %}

{% block title %}Connexion | {{ parent() }}{% endblock %}

{% block body %}
    <form method="post">
        <div class="main-container">
            <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
            <div class="bloc-article flex flex-col items-center justify-center">

                    <div class="content-box mx-auto">
                        <div class="form-row mb-4">
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="_email" id="inputEmail"
                                   class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class="form-row mb-4">
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="_password" id="inputPassword" class="form-control"
                                   autocomplete="current-password" required>
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Se souvenir de moi
                            </label>
                        </div>
                        <div class="checkbox mb-3">
                            <a href="{{ path('app_forgot_password_request') }}">Mot de passe Oublié ?</a>
                        </div>
                        {% if app.user %}
                            <div class="text-red-500 h-12">
                                <p class="font-weight-bold">
                                    {{ app.user.userIdentifier }} est déjà connecté.</p>
                                <a href="{{ path('app_logout') }}">Clique ici pour
                                        te déconnecter.</a>

                            </div>
                        {% endif %}
                        {% if error %}
                            <div class="text-red-500 h-10">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <button class="btn btn-lg btn-search" type="submit">
                            Connexion
                        </button>
                    </div>

            </div>
        </div>
    </form>
{% endblock %}
