{% extends 'base.html.twig' %}
{% form_theme form 'tailwind_2_layout.html.twig' %}

{% block title %}Modifier mon Profil{% endblock %}

{% block body %}
    <div class="main-container">
        <h1>Modifier mon Profil</h1>

        <div class="bloc-article">
            <form method="post">
                {{ form_start(form) }}
                <div class="form-row">
                    {{ form_label(form.firstName) }}
                    {{ form_widget(form.firstName) }}
                    <div class="label-error">
                        {{ form_errors(form.firstName) }}
                    </div>
                </div>
                <div class="form-row">
                    {{ form_label(form.lastName) }}
                    {{ form_widget(form.lastName) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.phoneNumber) }}
                    {{ form_widget(form.phoneNumber) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password) }}
                </div>
{#                {# <div class="mb-4">
                    {{ form_row(form.roles) }}
                </div> #}
                <button type="submit">Sauvegarder</button>
                {{ form_end(form) }}
            </form>

        </div>

        <div class="mt-4">
            <a href="{{ path('app_profile') }}" class="text-blue-500">Retour au profil</a>
        </div>
    </div>
{% endblock %}
