{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div class="main-container">
        <h1>Profil de {{ user.firstname }} {{ user.lastname }}</h1>
        <div class="bloc-article">
            <h2>Informations personnelles</h2>


            {% if user.brochureFilename %}
                <img src="{{ asset('uploads/' ~ user.brochureFilename) }}" alt="Image de profil" class="w-24 h-24 rounded-full mx-auto mb-4 object-cover">
            {% else %}
                <img src="{{ asset('uploads/P1.PNG') }}" alt="Image de profil" class="w-24 h-24 rounded-full mx-auto mb-4 object-cover">
            {% endif %}

            <div class="text-gray-800">

                <p><strong>Nom :</strong> {{ user.lastname }}</p>
                <p><strong>Prénom :</strong> {{ user.firstname }}</p>
                <p><strong>Email :</strong> {{ user.email }}</p>
                <p><strong>Rôle :</strong> {{ user.roles | join(', ') }}</p>
                <p><strong>Compte actif :</strong> {{ user.active ? 'Oui' : 'Non' }}</p>
            </div>
        </div>

        <!-- Buttons for editing profile and logging out -->
        <div class="flex justify-between align-items-center mt-6">
            <a href="{{ path('app_edit_profile') }}" class="bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-2 px-6 rounded-lg shadow-md transition duration-300 ease-in-out">Modifier le profil</a>
            <a href="{{ path('app_logout') }}" class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-6 rounded-lg shadow-md transition duration-300 ease-in-out">Déconnexion</a>
        </div>
    </div>
{% endblock %}
