<h1>Bonjour, {{ prenom|capitalize }}</h1>

<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien ci-dessous :</p>

{#<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>#}
<a href="{{ url }}">{{ url }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}. Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet e-mail et votre mot de passe ne sera pas modifié.</p>

<p>Cordialement, </p>

<p>L'équipe de sortir.com</p>
