{% form_theme form 'tailwind_2_layout.html.twig' %}

{% block javascript %}
<script>
    // initialisation à zéro pour ensuite le remplacer dans le javascript
    {% set apiCityPlacesUrl = path('api_city_places', {'cityId': 0}) %}
    {% set apiPlaceInfoUrl = path('api_places_info', { 'placeId':0}) %}
    const apiCityPlacesUrl = '{{ apiCityPlacesUrl }}';
    const apiPlaceInfoUrl = '{{ apiCityPlacesUrl }}';

</script>
{% endblock %}

{{ form_start(form) }}

        <div class="form-row">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': (form.name.vars.errors|length > 0 ? 'error' : '')}}) }}
            <div class="label-error">
                {{ form_errors(form.name) }}
            </div>
        </div>




<div class="form-row">
            {{ form_label(form.startDateTime) }}
            {{ form_widget(form.startDateTime, {'attr': {'class': (form.startDateTime.vars.errors|length > 0 ? 'error' : '')}}) }}
            <div class="label-error">
                {{ form_errors(form.startDateTime) }}
            </div>
        </div>



<div class="form-row">
            {{ form_label(form.registrationDeadline) }}
            {{ form_widget(form.registrationDeadline, {'attr': {'class': (form.registrationDeadline.vars.errors|length > 0 ? 'error' : '')}}) }}
            <div class="label-error">
                {{ form_errors(form.registrationDeadline) }}
            </div>
        </div>

<div class="form-row">
            {{ form_label(form.nbRegistrationMax) }}
            {{ form_widget(form.nbRegistrationMax, {'attr': {'class': (form.nbRegistrationMax.vars.errors|length > 0 ? 'error' : '')}}) }}
            <div class="label-error">
                {{ form_errors(form.nbRegistrationMax) }}
            </div>
        </div>


<div class="form-row">
            {{ form_label(form.duration) }}
            {{ form_widget(form.duration, {'attr': {'class': (form.duration.vars.errors|length > 0 ? 'error' : '')}}) }}
            <div class="label-error">
                {{ form_errors(form.duration) }}
            </div>
        </div>


<div class="form-row">
            {{ form_label(form.info) }}
            {{ form_widget(form.info, {
                'attr': {
                    'class': form.info.vars.errors|length > 0 ? 'error' : '',
                }
            }) }}
            <div class="label-error">
                {{ form_errors(form.info) }}
            </div>
        </div>



<div class="form-row">
            {{ form_label(form.relativeCampus) }}
            {{ form_widget(form.relativeCampus, {'attr': {'class': (form.relativeCampus.vars.errors|length > 0 ? 'error' : '')}}) }}
            <div class="label-error">
                {{ form_errors(form.relativeCampus) }}
            </div>
        </div>


<div class="form-row">
            {{ form_label(form.city) }}
            {{ form_widget(form.city, {'attr': {'class': (form.city.vars.errors|length > 0 ? 'error' : '')}}) }}
            <div class="label-error">
                {{ form_errors(form.city) }}
            </div>
        </div>

<div class="form-row">
            {{ form_label(form.place) }}
            {{ form_widget(form.place, {'attr': {'class': (form.place.vars.errors|length > 0 ? 'error' : '')}}) }}
            <div class="label-error">
                {{ form_errors(form.place) }}
            </div>
        </div>



<div class="form-row">
            <label class="label">Rue :</label>
            <input type="text" id="street" class="w-50 p-2 border border-gray-300 rounded" readonly />
        </div>
<div class="form-row">
            <label class="label">Code postal :</label>
            <input type="text" id="postalCode" class="w-50 p-2 border border-gray-300 rounded" readonly />
        </div>
<div class="form-row">
            <label class="label">Latitude :</label>
            <input type="text" id="latitude" class="w-50 p-2 border border-gray-300 rounded" readonly />
        </div>
<div class="form-row">
            <label class="label">Longitude :</label>
            <input type="text" id="longitude" class="w-50 p-2 border border-gray-300 rounded" readonly />
        </div>



{% if button_label != '' %}
<button type="submit" class=" my-4 ml-4 rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{ button_label }}</button>
{% endif %}
<button type="submit" name="save" class="my-4 ml-4 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Enregistrer</button>
{% if button_delete %}
<button type="submit" name="delete" class="my-4 ml-4 rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Supprimer</button>
{%  endif %}
{% if button_annuler %}
<button type="submit" name="cancel" class="my-4 ml-4 rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Annuler l'évênement</button>
{% endif %}
<button type="button" class=" my-4 ml-4 text-sm/6 font-semibold text-gray-900" onclick="window.history.back();">Annuler</button>

{{ form_end(form) }}

