{% extends 'base.html.twig' %}

{% block title %}Index des sorties | {{ parent() }}{% endblock %}

{% block body %}
    <div class="main-trip-index">
        <section class="container-filter">
            <h2 class="text-3xl">
                Filtrer les sorties
            </h2>
                {{ form_start(form) }}
            <div class="list-filter">
                <div class="main-input-group">
                    <div class="input-group">
                        {{ form_label(form.relativeCampus) }}
                        {{ form_widget(form.relativeCampus) }}
                    </div>
                    <div class="input-group">
                        {{ form_label(form.tripName) }}
                        {{ form_widget(form.tripName) }}
                    </div>
                    <div class="inputDate">
                        <div class="input-group">
                            {{ form_label(form.startDateTime, 'De ') }}
                            {{ form_widget(form.startDateTime) }}
                        </div>
                        <div class="input-group">
                            {{ form_label(form.registrationDeadline, 'à ') }}
                            {{ form_widget(form.registrationDeadline) }}
                        </div>
                    </div>
                </div>
                <div class="main-input-group">
                    <div class="input-group">
                        <div class="input-group-checkbox">
                            {{ form_widget(form.iOrganized) }}
                            {{ form_label(form.iOrganized) }}
                        </div>
                        <div class="input-group-checkbox">
                            {{ form_widget(form.iParticipate) }}
                            {{ form_label(form.iParticipate) }}
                        </div>
                        <div class="input-group-checkbox">
                            {{ form_widget(form.imRegistered) }}
                            {{ form_label(form.imRegistered) }}
                        </div>
                        <div class="input-group-checkbox">
                            {{ form_widget(form.oldTrips) }}
                            {{ form_label(form.oldTrips) }}
                        </div>
                    </div>
                </div>
                <div class="main-input-group">
                    <button type="submit" class="bg-purple-600 text-white font-bold py-2 px-4 rounded-lg shadow-md hover:bg-purple-700 hover:shadow-lg transition duration-200 ease-in-out">Rechercher
                    </button>
                </div>
            </div>
        </section>
        {{ form_end(form) }}
        <div class="container-table">
            <table class="table-trips">
                <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for trip in trips %}
                    <tr>
                        <td>{{ trip.name }}</td>
                        <td>{{ trip.startDateTime ? trip.startDateTime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ trip.registrationDeadline ? trip.registrationDeadline|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ (trip.participants | length + 1)  ~ " / " ~ trip.nbRegistrationMax  }}</td>
                        <td>{{ trip.state.wording }}</td>
                        <td>
                            {% for participant in trip.participants %}
                                {% if participant == app.user %}
                                    X
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ trip.organizer.lastName ~ trip.organizer.firstName }}</td>
                        <td>
                            <a href="{{ path('app_trip_show', {'id': trip.id}) }}">Afficher</a>
                            {% for participant in trip.participants %}
                                {% if participant == app.user %}
                                    <a href="{{ path('app_trip_edit', {'id': trip.id}) }}">Se désister</a>
                                {% else %}
                                    <a class="" href="{{ path('app_trip_edit', {'id': trip.id}) }}">edit</a>
                            {% endif %}
                            {% endfor %}

                            <a href="{{ path('app_trip_edit', {'id': trip.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="container-btn-add">
                <button class="btn-add" onclick='location.href="{{ path('app_trip_new') }}"'>Nouvelle sortie</button>
            </div>
        </div>
    </div>
    <div class="absolute bottom-4 left-4">
        <span class="sm:hidden">XS</span>
        <span class="hidden sm:block md:hidden">SM</span>
        <span class="hidden md:block lg:hidden">MD</span>
        <span class="hidden lg:block xl:hidden">LG</span>
    </div>
{% endblock %}
