{% extends 'base.html.twig' %}

{% block title %}Index des sorties | {{ parent() }}{% endblock %}

{% block body %}
    <style>
        main {
            align-items: flex-start;
            overflow: hidden;
        }

        .block-body {
            width: 105%;
            height: 101%;
            display: flex;
            flex-direction: column;
        }
    </style>

    <div class="main-trip-index">
        <section class="container-filter">
            <h2 class="text-lg sm:text-3xl ">
                Filtrer les sorties
            </h2>
            {{ form_start(form) }}
            <div class="list-filter">
                <div class="main-input-group">
                    <div class="input-group">
                        {{ form_label(form.relativeCampus) }}
                        {{ form_widget(form.relativeCampus) }}
                    </div>
                    <div class="input-group">
                        {{ form_label(form.tripName) }}
                        {{ form_widget(form.tripName) }}
                    </div>
                    <div class="inputDate">
                        <div class="input-group flex">
                            {{ form_label(form.startDateTime, 'De ') }}
                            {{ form_widget(form.startDateTime) }}
                            {{ form_label(form.registrationDeadline, 'à ') }}
                            {{ form_widget(form.registrationDeadline) }}
                        </div>
                    </div>
                </div>
                <div class="main-input-group">
                    <div class="flex flex-col justify-between h-full">
                        <div class="input-group-checkbox">
                            {{ form_widget(form.iOrganized) }}
                            {{ form_label(form.iOrganized) }}
                        </div>
                        <div class="input-group-checkbox">
                            {{ form_widget(form.iParticipate) }}
                            {{ form_label(form.iParticipate) }}
                        </div>
                        <div class="input-group-checkbox">
                            {{ form_widget(form.imRegistered) }}
                            {{ form_label(form.imRegistered) }}
                        </div>
                        <div class="input-group-checkbox">
                            {{ form_widget(form.oldTrips) }}
                            {{ form_label(form.oldTrips) }}
                        </div>
                    </div>
                </div>
                <div class="main-input-group">
                    <button type="submit" class="btn-search">Rechercher
                    </button>
                </div>
            </div>
        </section>
        {{ form_end(form) }}
        <div class="overflow-auto flex-grow bg-transparent p-0 ">
            <table class="table-trips table-trips w-full">
                <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>État</th>
                    <th>Inscrit</th>
                    <th>Inscrit·e·s/places</th>
                    <th>Organisateur·ice</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for trip in trips %}
                    {% if trip.state.wording != "Historisée" %}
                        {% if trip.state.wording == "Créée" and trip.organizer.id == app.user.id %}
                            {% include '/trip/trip_diplay.html.twig' %}
                        {% elseif trip.state.wording != "Créée" %}
                            {% include '/trip/trip_diplay.html.twig' %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container-btn-add">
            <button class="text-center w-30 my-4 ml-4 rounded-md bg-fuchsia-500 hover:bg-fuchsia-800 px-3 py-2 text-sm font-semibold text-white" onclick='location.href="{{ path('app_trip_new') }}"'>Nouvelle sortie</button>
        </div>
    </div>

{% endblock %}
