{% extends 'base.html.twig' %}

{% block title %}Trip index{% endblock %}

{% block body %}
    <h1>Trip index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>StartDateTime</th>
                <th>Duration</th>
                <th>RegistrationDeadline</th>
                <th>NbRegistrationMax</th>
                <th>Info</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trip in trips %}
            <tr>
                <td>{{ trip.id }}</td>
                <td>{{ trip.name }}</td>
                <td>{{ trip.startDateTime ? trip.startDateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ trip.duration }}</td>
                <td>{{ trip.registrationDeadline ? trip.registrationDeadline|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ trip.nbRegistrationMax }}</td>
                <td>{{ trip.info }}</td>
                <td>
                    <a href="{{ path('app_trip_show', {'id': trip.id}) }}">show</a>
                    <a href="{{ path('app_trip_edit', {'id': trip.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_trip_new') }}">Create new</a>
{% endblock %}
