{% extends 'base.html.twig' %}

{% block title %}Index des sorties | {{ parent() }}{% endblock %}

{% block body %}
    <style>
        main {
            align-items: flex-start;
            overflow: hidden;
        }

        .block-body {
            width: 105%;
            height: 101%;
            display: flex;
            flex-direction: column;
        }
    </style>

    <div class="main-trip-index">
        <section class="container-filter">
            <h2 class="text-3xl">
                Filtrer les sorties
            </h2>
                {{ form_start(form) }}
            <div class="list-filter">
                <div class="main-input-group">
                    <div class="input-group">
                        {{ form_label(form.relativeCampus) }}
                        {{ form_widget(form.relativeCampus) }}
                    </div>
                    <div class="input-group">
                        {{ form_label(form.tripName) }}
                        {{ form_widget(form.tripName) }}
                    </div>
                    <div class="inputDate">
                        <div class="input-group flex">
                            {{ form_label(form.startDateTime, 'De ') }}
                            {{ form_widget(form.startDateTime) }}
                            {{ form_label(form.registrationDeadline, 'à ') }}
                            {{ form_widget(form.registrationDeadline) }}
                        </div>
                    </div>
                </div>
                <div class="main-input-group">
                    <div class="flex flex-col justify-between h-full">
                        <div class="input-group-checkbox">
                            {{ form_widget(form.iOrganized) }}
                            {{ form_label(form.iOrganized) }}
                        </div>
                        <div class="input-group-checkbox">
                            {{ form_widget(form.iParticipate) }}
                            {{ form_label(form.iParticipate) }}
                        </div>
                        <div class="input-group-checkbox">
                            {{ form_widget(form.imRegistered) }}
                            {{ form_label(form.imRegistered) }}
                        </div>
                        <div class="input-group-checkbox">
                            {{ form_widget(form.oldTrips) }}
                            {{ form_label(form.oldTrips) }}
                        </div>
                    </div>
                </div>
                <div class="main-input-group">
                    <button type="submit" class="btn-search">Rechercher
                    </button>
                </div>
            </div>
        </section>
        {{ form_end(form) }}
        <div class="overflow-auto flex-grow bg-transparent p-0 ">
            <table class="table-trips table-trips w-full">
                <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for trip in trips %}
                    <tr>
                        <td>{{ trip.name }}</td>
                        <td>{{ trip.startDateTime ? trip.startDateTime| date("d/m/Y H:i") : '' }}</td>
                        <td>{{ trip.registrationDeadline ? trip.registrationDeadline|date| date("d/m/Y H:i") : '' }}</td>
                        <td>{{ (trip.participants | length + 1)  ~ " / " ~ trip.nbRegistrationMax  }}</td>
                        <td>{{ trip.state.wording }}</td>
                        <td>
                            {% for participant in trip.participants %}
                                {% if participant == app.user %}
                                    X
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ trip.organizer.lastName ~ trip.organizer.firstName }}</td>
                        <td>
                            {% if app.user in trip.participants and app.user == trip.organizer %}
                                <a href="{{ path('app_trip_edit', {'id': trip.id}) }}">Modifier</a>
                                {% else %}
                                    <a href="{{ path('app_trip_show', {'id': trip.id}) }}">Afficher</a>
                            {% endif %}

                            {% if app.user in trip.participants and app.user == trip.organizer and trip.state.wording == 'Créée' %}
                                <a href="{{ path('app_trip_publish', {'id': trip.id}) }}">Publier</a>
                            {% endif %}

                            {% if app.user in trip.participants and app.user == trip.organizer and (trip.state.wording != 'Annulée' or trip.state.wording != 'Activitée passée') %}
                                <a href="{{ path('app_trip_edit', {'id': trip.id}) }}">Annuler</a>
                            {% endif %}

                            {% if app.user in trip.participants and app.user != trip.organizer and (trip.state.wording == 'Ouverte' or trip.state.wording == 'Clôturée') %}
                               <a href="{{ path('app_trip_desist', {'id': trip.id}) }}">Se désister</a>

                            {% elseif trip.state.wording == 'Ouverte' and app.user != trip.organizer %}
                                <a href="{{ path('app_trip_participate', {'id': trip.id}) }}">S'inscrire</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container-btn-add">
            <button class="btn-add" onclick='location.href="{{ path('app_trip_new') }}"'>Nouvelle sortie</button>
        </div>
    </div>
    <div class="absolute bottom-4 left-4">
        <span class="sm:hidden">XS</span>
        <span class="hidden sm:block md:hidden">SM</span>
        <span class="hidden md:block lg:hidden">MD</span>
        <span class="hidden lg:block xl:hidden">LG</span>
    </div>
{% endblock %}
