{% extends 'base.html.twig' %}

{% block title %}Sortie | {{ parent() }}{% endblock %}

{% block body %}

    <div class="main-container">
        <h1>{{ trip.name }}</h1>
        <div class="bloc-article">
            <div class="main-content-box">
                <div class="content-box">
                    <div class="flex">
                        <div>Nom de la sortie&nbsp;:&nbsp;</div>
                        <div>{{ trip.name }}</div>
                    </div>
                    <div class="flex">
                        <div>Date et heure de la sortie&nbsp;:&nbsp;</div>
                        <div>{{ trip.startDateTime | date("d/m/Y H:i") }}</div>
                    </div>
                    <div class="flex">
                        <div>Date limite d'inscription&nbsp;:&nbsp;</div>
                        <div>{{ trip.registrationDeadline | date("d/m/Y H:i") }}</div>
                    </div>
                    <div class="flex">
                        <div>Nombre de places&nbsp;:&nbsp;</div>
                        <div>{{ trip.nbRegistrationMax }}</div>
                    </div>
                    <div class="flex">
                        <div>Durée&nbsp;:&nbsp;</div>
                        <div>{{ trip.duration }} minutes</div>
                    </div>
                    <div class="flex">
                        <div>description et infos&nbsp;:&nbsp;</div>
                        <div>{{ trip.info }}</div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="flex">
                        <div>Campus&nbsp;:&nbsp;</div>
                        <div>{{ trip.relativeCampus.name }}</div>
                    </div>
                    <div class="flex">
                        <div>Lieu&nbsp;:&nbsp;</div>
                        <div>{{ trip.place.name }}</div>
                    </div>
                    <div class="flex">
                        <div>Rue&nbsp;:&nbsp;</div>
                        <div>{{ trip.place.street }}</div>
                    </div>
                    <div class="flex">
                        <div>Ville&nbsp;:&nbsp;</div>
                        <div>{{ trip.place.city.name }} {{ trip.place.city.postalCode }}</div>
                    </div>
                    <div class="flex">
                        <div>Latitude&nbsp;:&nbsp;</div>
                        <div>{{ trip.place.latitude }}</div>
                    </div>
                    <div class="flex">
                        <div>Longitude&nbsp;:&nbsp;</div>
                        <div>{{ trip.place.longitude }}</div>
                    </div>
                </div>
            </div>
            <div class="list-participant">
                <div>
                    <h2>Liste des participants inscrits</h2>
                </div>
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th>Pseudo</th>
                            <th>Nom</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for participant in trip.participants %}
                            {% if participant.pseudo is defined and participant.pseudo is not null %}
                                <tr>
                                <th><a href="{{ path('app_profile', {'pseudo': participant.pseudo }) }}">{{ participant.pseudo }}</a></th>
                            {% else %}
                                <th>{{ participant.email }}</th>
                            {% endif %}
                                <th>{{ participant.firstName }} {{ participant.lastName }}</th>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% if app.user.id == trip.organizer.id %}
            <a class="" href="{{ path('app_trip_edit', {'id': trip.id}) }}">edit</a>
        {% endif %}

        {% if app.user.id == trip.organizer.id %}
            {{ include('trip/_delete_form.html.twig') }}
        {% endif %}
        <form method="post" action="{{ path('app_trip_show', { id: trip.id }) }}">
            <button type="submit">Participer</button>
        </form>
    </div>
{% endblock %}
