<nav class="bg-white bg-no-repeat bg-cover bg-center">
    <div class="container mx-auto flex items-center justify-between p-4">

        <!-- Logo et Titre du site -->
        <div class="flex items-center space-x-4">
            <!-- Logo -->
            <a href="{{ path('main') }}"><img src="{{ asset('img/logo_bus.png') }}" alt="Logo" class="w-32 h-32 mr-6 object-contain" ></a>
            <!-- Titre du site -->
            <a class="text-3xl font-poppins text-gray-800" href="{{ path('main') }}">sortir.com</a>
        </div>

        <!-- Bouton hamburger pour le mode mobile -->
        <button class="lg:hidden text-gray-800 focus:outline-none" type="button" aria-expanded="false" aria-label="Toggle navigation" onclick="document.getElementById('navbarMenu').classList.toggle('hidden')">
            <div class="flex flex-col items-center">
                <svg class="w-6 h-6 mt-2"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
            </div>
        </button>



        <!-- Liens de navigation (desktop) -->
        <div class="hidden lg:flex lg:items-center lg:justify-end space-x-8" >
            <ul class="flex space-x-8">
                <li><a class="text-gray-600 hover:text-gray-800" href="{{ path('main') }}">Accueil</a></li>
                <li><a class="text-gray-600 hover:text-gray-800" href="{{ path('app_trip_index') }}">Liste des événements</a></li>
                <li><a class="text-gray-600 hover:text-gray-800" href="{{ path('app_trip_new') }}">Créer un événement</a></li>
            </ul>
            <ul class="flex space-x-8">
                {% if app.user %}
                    <li><a class="text-gray-600 hover:text-gray-800" href="{{ path('app_profile') }}">Profil</a></li>
                    <li><a class="text-gray-600 hover:text-gray-800" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <li><a class="text-gray-600 hover:text-gray-800" href="{{ path('app_register') }}">Créer compte</a></li>
                        <li><a class="text-gray-600 hover:text-gray-800" href="{{ path('app_import_users') }}">Importer comptes</a></li>
                        <li><a class="text-gray-600 hover:text-gray-800" href="{{ path('participant_list') }}">Consulter comptes existants</a></li>
                    {% endif %}
                {% else %}
                    <li><a class="text-gray-600 hover:text-gray-800" href="{{ path('app_login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </div>

        <!-- Menu mobile -->
        <div id="navbarMenu" class="md:hidden absolute top-12 left-0 right-0 bg-white shadow-lg rounded-b-lg p-4 space-y-4" >
            <ul class="space-y-4" >
                <li><a class="block text-gray-800 py-2 px-4 hover:bg-gray-100 rounded" href="{{ path('main') }}">Accueil</a></li>
                <li><a class="block text-gray-800 py-2 px-4 hover:bg-gray-100 rounded" href="{{ path('app_trip_index') }}">Liste des événements</a></li>


                {% if app.user %}
                    <li><a class="block text-gray-800 py-2 px-4 hover:bg-gray-100 rounded" href="{{ path('app_profile') }}">Profil</a></li>
                    <li><a class="block text-gray-800 py-2 px-4 hover:bg-gray-100 rounded" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <li><a class="block text-gray-800 py-2 px-4 hover:bg-gray-100 rounded" href="{{ path('app_register') }}">Créer compte</a></li>
                        <li><a class="block text-gray-800 py-2 px-4 hover:bg-gray-100 rounded" href="{{ path('app_import_users') }}">Importer comptes</a></li>
                        <li><a class="block text-gray-800 py-2 px-4 hover:bg-gray-100 rounded" href="{{ path('participant_list') }}">Consulter comptes existants</a></li>
                    {% endif %}
                {% else %}
                    <li><a class="block text-gray-800 py-2 px-4 hover:bg-gray-100 rounded" href="{{ path('app_login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </div>

        <!-- Menu tablette -->
        <div id="navbarMenu" class="hidden md:flex lg:hidden absolute top-12 left-0 right-0 bg-white shadow-lg rounded-b-lg p-4 space-y-4" >
            <ul class="space-y-4" >
                <li><a class="block text-gray-800 py-2 px-4 hover:bg-gray-100 rounded" href="{{ path('main') }}">Accueil</a></li>
                <li><a class="block text-gray-800 py-2 px-4 hover:bg-gray-100 rounded" href="{{ path('app_trip_index') }}">Liste des événements</a></li>
                <li><a class="block text-gray-800 py-2 px-4 hover:bg-gray-100 rounded" href="{{ path('app_trip_new') }}">Créer événement</a></li>

                {% if app.user %}
                    <li><a class="block text-gray-800 py-2 px-4 hover:bg-gray-100 rounded" href="{{ path('app_profile') }}">Profil</a></li>
                    <li><a class="block text-gray-800 py-2 px-4 hover:bg-gray-100 rounded" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <li><a class="block text-gray-800 py-2 px-4 hover:bg-gray-100 rounded" href="{{ path('app_register') }}">Créer compte</a></li>
                        <li><a class="block text-gray-800 py-2 px-4 hover:bg-gray-100 rounded" href="{{ path('app_import_users') }}">Importer comptes</a></li>
                        <li><a class="block text-gray-800 py-2 px-4 hover:bg-gray-100 rounded" href="{{ path('participant_list') }}">Consulter comptes existants</a></li>
                    {% endif %}
                {% else %}
                    <li><a class="block text-gray-800 py-2 px-4 hover:bg-gray-100 rounded" href="{{ path('app_login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- Ombre au bas de la navbar -->
    <div class="h-1 bg-gray-300 shadow-lg"></div>
</nav>
