<nav class="bg-white bg-no-repeat bg-cover bg-center">
    <div class="container mx-auto flex items-center justify-between p-4">

        <!-- Logo / Titre du site -->
        <div class="w-64 flex items-center space-x-4">
            <a class="text-3xl font-poppins text-gray-800 mr-auto mx-2" href="{{ path('main') }}">sortir.com</a>
        </div>

        <!-- Bouton pour le mode mobile -->
        <button class="lg:hidden text-gray-800 focus:outline-none" type="button" aria-expanded="false" aria-label="Toggle navigation" onclick="document.getElementById('navbarSupportedContent').classList.toggle('hidden')">
            <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
        </button>

        <!-- Liens de navigation -->
        <div class="hidden lg:flex lg:items-center lg:justify-end space-x-4" id="navbarSupportedContent">
            <ul class="flex space-x-4">
                <li>
                    <a class="text-gray-600 hover:text-gray-800" href="{{ path('main') }}">Accueil</a>
                </li>
                <li>
                    <a class="text-gray-600 hover:text-gray-800" href="{{ path('app_trip_index') }}">Liste des événements</a>
                </li>
                <li>
                    <a class="text-gray-600 hover:text-gray-800" href="{{ path('app_trip_new') }}">Créer un événement</a>
                </li>
            </ul>
            <ul class="flex space-x-4">
                {% if app.user %}
                    <li>
                        <a class="text-gray-600 hover:text-gray-800" href="{{ path('app_profile') }}">Profil</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-gray-800" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="{{ path('app_register') }}">Créer compte</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="{{ path('app_import_users') }}">Importer comptes</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="{{ path('participant_list') }}">Consulter comptes existants</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li>
                        <a class="text-gray-600 hover:text-gray-800" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
    <!-- Ombre au bas de la navbar -->
    <div class="h-1 bg-gray-300 shadow-lg"></div> <!-- Utilisation d'une ombre plus forte et d'une couleur de fond plus claire -->
</nav>
